/* @import 'palette';
@import '~@angular/material/theming';
/* @include mat-core(); */
/* @import 'mixins'; */ */

.login-content {
    padding: 16px;
    border-radius: 10px;
    /* background-color: $pvt-light-blue; */
} 


.tamanho {

  width: 30%;
  margin: 0 auto;
}
