<section class="backgroud" fxFlexFill fxLayoutAlign="center center">
    <div [formGroup]="loginForm" fxFlex class="tamanho">

        <p-card>
            <div fxLayoutAlign="center center">

                <div fxLayout="row">
                    <p>Usuário</p>
                    <input name="usuario" formControlName="nome" class="login" type="text" pInputText />
                </div>
                <div fxLayout="row">

                    <p>Senha</p>
                    <input name="senha" formControlName="senha" type="password" pPassword />
                </div>
            </div>
            <div class="acoes p-d-flex p-jc-between">
                <button [disabled]="loginForm.invalid" (click)="submit()" class="p-button-success" pButton type="button"
                    label="Entrar"></button>
                <button (click)="cadastrar()" class="entrar" pButton type="button"
                    label="cadastre-se é grátis!"></button>
            </div>
        </p-card>

    </div>
</section>