

.login-content {
    padding: 16px;
    border-radius: 10px;
} 

input {
  width: 100%;
}


.tamanho {

  width: 30%;
  margin: 0 auto;
}

.acoes {
  padding: 16px;
}

.acoes button:first-child {
  margin-right: 16px;
}

.backgroud {

  background-color: indigo;
}