<p-table [value]="produtos">
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Código ERP</th>
            <th>Apresentação</th>
            <th>Nome Comercial</th>
        </tr>
    </ng-template>
        <ng-template pTemplate="body">
            <tr *ngFor="let produto of produtos">
                <td>{{produto.id}}</td>
                <td>{{produto.nomeComercial}}</td>
                <td>{{produto.codigoErp}}</td>
                <td>{{produto.apresentacao}}</td>
                <td>{{produto.nomeComercialComApresentacao}}</td>
            </tr>
        </ng-template>
</p-table>